.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  min-width: 300px;
  width: 20%;
  line-height: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.product-card:hover {
  cursor: pointer;
}

.product-card h3 {
  text-align: center;
  height: 60px;
}

.product-card > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 1rem auto;
  transition: scale 0.5s;
}

.product-card > img:hover {
  scale: 1.1;
}

.product-description {
  height: 60px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-group {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.numeric-values {
  margin-top: 1rem;
}

.count-group {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#add-to-cart-btn {
  width: 100%;
}

.count-group > input {
  text-align: center;
}
