.root-page {
  background-color: rgb(67, 67, 163);
  min-height: 100vh;
}

.root-page > :nth-child(2) {
  padding: 2rem 10%;
}

nav {
  color: white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  background-color: rgb(177, 92, 59);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

nav > * {
  text-decoration: none;
}

.root-page > nav > :last-child {
  margin-left: auto;
}

a {
  color: inherit;
  font-weight: bold;
  transition: color 0.2s ease-in;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
