.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 2rem;
}

.shop-page > nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.loading-container,
.error-container {
  color: white;
}
